<%- model_class = Kind -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% @kinds.each do |kind| %>
<h1><%= link_to "#{kind.name} (#{kind.snippets.length})", kind_path(kind) %></h1>
<div>
<% if can? :manage, kind %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                         edit_kind_path(kind), :class => 'btn btn-default btn-xs' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              kind_path(kind),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>
  <% end %>
<% end %>
</div>
<br>
<% if can? :manage, Kind %>
  <div>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                          new_kind_path,
                          :class => 'btn btn-primary' %>
  </div>
<% end %>
